@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Libre+Caslon+Text&display=swap");

.header {
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  height: 114px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
}

.header-content {
  font-size: 28px;
  color: #3b3b3b;
  font-family: "Baskervville", serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 35px;
  margin-left: 150px;
  letter-spacing: normal;
}
